extends layout

block content
  h1= title
  - let image_names = ["umbrella.jpg", "umbrella 2.jpg", "umbrella 3.jpg", "umbrella 4.jpg", "umbrella 5.jpg"]
  - for(var i =0; i<3; i++){
    - var ran = Math.floor(Math.random()*5);
    img(src=`/images/${image_names[ran]}` alt=`Image No ${ran}` height="300px" width="300px")
  - }